<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>LifelUp</title>
    <meta name="description" content="LifelUp">
    <meta name="author" content="HaKIM">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>